:root {
  --primary-color: #007bff;
  --secondary-color: #0056b3;
  --background-color: #f0f0f0;
  --container-width: 1850px;
  --container-margin: 100px auto;
  --container-padding: 20px;
  --container-background: #fff;
  --container-border-radius: 8px;
  --container-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --heading-font-size: 24px;
  --label-font-size: 16px;
  --input-font-size: 16px;
}

/* Estilos globais */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.icon {
  width: 24px;
  height: 24px;
}

/* Header */
.header {
  background-color: var(--container-background);
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: var(--container-box-shadow)
}

.header__container {
  max-width: 1850px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header__title {
  font-size: 24px;
  margin: 0;
}

.header__nav {
  display: flex;
  gap: 20px;
}

.header__link {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px;
  border-radius: var(--container-border-radius);
  color: var(--secondary-color);
  text-decoration: none;
}

/* Content */
.content {
  margin-top: 80px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Box */
.box {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: var(--container-width);
}

.box__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.box__title {
  font-size: 24px;
  margin: 0;
}

.box__add-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.box__add-button:hover {
  background-color: #218838;
}

.box__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.box__search-input {
  padding: 10px;
  font-size: 16px;
  width: 40%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.box__filters {
  display: flex;
  gap: 20px;
}

.box__filter {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.box__filter input {
  margin-right: 5px;
}

/* Table */
.box__table {
  width: 100%;
  border-collapse: collapse;
}

.box__table-head {
  background-color: var(--primary-color);
  color: #fff;
}

.box__table-header {
  padding: 10px;
  text-align: left;
}

.box__table-body .box__table-row {
  border-bottom: 1px solid #ddd;
}

.box__table-cell {
  padding: 10px;
}

.box__edit-button, .box__delete-button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.box__edit-button {
  background-color: #ffc107;
  color: #fff;
  margin-right: 5px;
}

.box__edit-button:hover {
  background-color: #e0a800;
}

.box__delete-button {
  background-color: #dc3545;
  color: #fff;
}

.box__delete-button:hover {
  background-color: #c82333;
}
